@media ( prefers-reduced-motion ) {
	.animated-heading .heading > * {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@media not ( prefers-reduced-motion ) {
	/* Animated heading - Animations */
	.animated-heading .heading > * {
		opacity: 0;
		animation: var(--animation-fade-in) forwards, var(--animation-slide-in-up) forwards;
		animation-timing-function: var(--ease-out-5);

		--delay-base: .5s;
		--delay-increment: .1s;
		--delay-index: 0;
		animation-delay: calc( var(--delay-base) + (var(--delay-increment) * var(--delay-index)) );
	}

	/* Single heading with multiple words */
	.animated-heading .heading > *:nth-child(1) { --delay-index: 0; }
	.animated-heading .heading > *:nth-child(2) { --delay-index: 1; }
	.animated-heading .heading > *:nth-child(3) { --delay-index: 2; }
	.animated-heading .heading > *:nth-child(4) { --delay-index: 3; }
	.animated-heading .heading > *:nth-child(5) { --delay-index: 4; }

	/* Consecutive headings each with multiple words */
	.animated-heading .heading:has(>:nth-child(1)) + .heading > :nth-child(1) { --delay-index: 1; }
	.animated-heading .heading:has(>:nth-child(1)) + .heading > :nth-child(2) { --delay-index: 2; }
	.animated-heading .heading:has(>:nth-child(1)) + .heading > :nth-child(3) { --delay-index: 3; }
	.animated-heading .heading:has(>:nth-child(1)) + .heading > :nth-child(4) { --delay-index: 4; }

	.animated-heading .heading:has(>:nth-child(2)) + .heading > :nth-child(1) { --delay-index: 2; }
	.animated-heading .heading:has(>:nth-child(2)) + .heading > :nth-child(2) { --delay-index: 3; }
	.animated-heading .heading:has(>:nth-child(2)) + .heading > :nth-child(3) { --delay-index: 4; }

	.animated-heading .heading:has(>:nth-child(3)) + .heading > :nth-child(1) { --delay-index: 3; }
	.animated-heading .heading:has(>:nth-child(3)) + .heading > :nth-child(2) { --delay-index: 4; }

	.animated-heading .heading:has(>:nth-child(4)) + .heading > :nth-child(1) { --delay-index: 4; }
	/* End: Animated heading - Animations */
}