/* Only when actually printing the page */
@media print {
	html,
	html body {
		background: #fff !important;
	}

	html .site {
		padding: 0;
	}

	html .main-nav {
		display: none !important;
	}


	html {
		--spacing--x-small: 5px;
		--spacing--small: 10px;
		--spacing--medium: 20px;
		--spacing--large: 30px;

		font-size: 10px;
		line-height: 1.25em;
	}

	.github-list .github-item,
	.job-list .job,
	.testimonial-list .testimonial,
	.list-cards .list-card-item {
		page-break-inside: avoid;
	}

	section.testimonials-section,
	section.projects-section,
	section.github-section {
		page-break-inside: avoid;
	}

	.section-heading.heading {
		background: none;
	}
}
/* End: Only when actually printing the page */

html .heading .h,
html .heading .h > *,
html .heading .h > * > * {
	background: none !important;
	-webkit-background-clip: unset !important;
	-webkit-text-fill-color: unset !important;
	overflow: clip !important;
	max-inline-size: none !important;
	opacity: 1 !important;
	animation: none !important;
}

html[data-theme] {
	color-scheme: light;

	--color-primary: var(--gray-8);

	--color-brand: var(--color-primary);
	--github-gradient: var( --gradient-13 );

	--link: var(--indigo-8);
	--link-hover: var(--indigo-8);
	--link-visited: var(--color-primary);

	--fa-primary-color: var(--gray-7);
	--fa-primary-opacity: 1;

	--fa-secondary-color: var(--gray-4);
	--fa-secondary-opacity: 1;

	--text-1: var(--gray-12);
	--text-2: var(--gray-7);

	--surface-0: var(--gray-0);
	--surface-1: var(--gray-1);
	--surface-2: var(--gray-2);
	--surface-3: var(--gray-3);
	--surface-4: var(--gray-7);
	--surface-5: var(--gray-9);
	--surface-6: var(--gray-12);

	--heading-1--color: var(--gray-10);
	--heading-2--color: var(--gray-10);
	--heading-3--color: var(--gray-10);
	--heading-4--color: var(--gray-10);
	--heading-5--color: var(--gray-10);
	--heading-6--color: var(--gray-10);

	--scrollthumb-color: var(--gray-7);

	/* Button - primary */
	--button-border-color: var(--gray-6);
	--button-background-color: var(--surface-1);
	--button-text-color: var(--text-1);
	--button-text-shadow-color: transparent;

	--button-hover-border-color: var(--gray-8);
	--button-hover-background-color: var(--gray-6);

	/* Button - secondary */
	--button-secondary-border-color: var(--gray-6);
	--button-secondary-background-color: var(--surface-1);
	--button-secondary-text-color: var(--text-1);
	--button-secondary-text-shadow-color: transparent;

	--button-secondary-hover-border-color: var(--gray-8);
	--button-secondary-hover-background-color: var(--gray-6);
}

html a[href]:not(.btn) {
	color: var(--color-primary);
}

ul.list-cards > li {
	background: none;
}

a.tooltip {
	text-decoration: none;
}

.project-list .credits a:not(:hover, :focus-visible),
.project-list .credits,
.h-regular, .hr {
	color: var(--gray-8);
}

.section-heading .section-tools {
	border-top-color: var(--gray-8);
}