/* Only when actually printing the page */
@media print {
	html,
	html body {
		background: #fff !important;
	}

	html .site {
		padding: 0;
	}

	html .site .controls,
	html .nav-menu {
		display: none !important;
	}


	html {
		--spacing--x-small: 5px;
		--spacing--small: 10px;
		--spacing--medium: 20px;
		--spacing--large: 30px;

		font-size: 10px;
		line-height: 1.25em;
	}
}
/* End: Only when actually printing the page */

html .heading .h,
html .heading .h > *,
html .heading .h > * > * {
	background: none !important;
	-webkit-background-clip: unset !important;
	-webkit-text-fill-color: unset !important;
	overflow: clip !important;
	max-inline-size: none !important;
	opacity: 1 !important;
	animation: none !important;
}

html[data-theme] {
	color-scheme: light;

	--color-primary: var(--gray-8);
	--color-secondary: var(--gray-8);

	--color-brand: var(--color-primary);
	--github-gradient: var( --gradient-13 );

	--link: var(--indigo-8);
	--link-hover: var(--indigo-8);
	--link-visited: var(--color-primary);

	--text-1: var(--gray-12);
	--text-2: var(--gray-7);

	--surface-0: var(--gray-0);
	--surface-1: var(--gray-1);
	--surface-2: var(--gray-2);
	--surface-3: var(--gray-3);
	--surface-4: var(--gray-7);
	--surface-5: var(--gray-9);
	--surface-6: var(--gray-12);

	--heading-1--color: var(--gray-8);
	--heading-2--color: var(--gray-7);
	--heading-3--color: var(--gray-6);
	--heading-4--color: var(--gray-5);
	--heading-5--color: var(--gray-4);
	--heading-6--color: var(--gray-3);

	--scrollthumb-color: var(--gray-7);
}

html a[href] {
	color: var(--color-primary);
}

ul.github-list li.github-item {
	background: none;
	border: 1px solid var(--gray-3);
}

ul.github-list li.github-item::before {
	display: none;
}

a.tooltip {
	text-decoration: none;
}