/*
CSS Reset
*/
*, *::before, *::after {
	box-sizing: border-box;
}

h1, h2 {
}

img {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

textarea:not([rows]) {
	min-height: 5em;
}

:target {
	scroll-margin-block: 10ex;
}

.screen-reader-text {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	overflow: hidden;
	white-space: nowrap;
	width: 1px;
	height: 1px;
}

ul li {
	max-inline-size: none;
}

/*
Global
*/
html {
	margin: 0;

	text-size-adjust: none;
}

body {
	margin: 0;
	min-height: 100vh;
}

/* Wrappers */
.site, .inside {
	max-width: var( --site-width );
	margin: 0 auto;
	padding-left: var( --spacing--large );
	padding-right: var( --spacing--large );
}

/* Site */
.site {
	padding: var( --spacing--large );
	display: grid;
	gap: var( --spacing--large );
}

/* Header */
.site-header {
	display: grid;
	gap: var( --spacing--large );
	margin: var(--spacing--large ) 0;
}

.site-header .image {
	max-width: 50vw;
	margin: 0 auto;
}


/* Header - Links */
.site-header .links {
	margin: 20px 0 0;
}

.site-header .link-list {
	display: flex;
	align-items: start;

	margin: 0;
	padding: 0;
	list-style: none;
	flex-direction: column;
	flex-wrap: wrap;
	gap: var( --spacing--x-small ) var( --spacing--medium );
}

.site-header .link-list li {
	margin: 0;
	padding: 0;
}

.site-header .link-list li a {
	white-space: nowrap;
}

@media ( min-width: 640.1px ) {
	.site-header .link-list {
		flex-direction: row;
	}
}

/* Header - Agency Logos */
.site-header .agency-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px var( --spacing--medium );
	align-items: stretch;
	margin: 30px 0 0;
}

.site-header .agency-list .agency {
}

.site-header .agency-list .agency a {
	display: grid;
	padding: 20px;
	height: 100%;
	place-content: center;
	background: var(--surface-2);
	border-radius: 20px;
}

.site-header .agency-list .agency a:where(:hover, :focus-visible) {
	background: var(--surface-3);
}

.site-header .agency-list .agency img {
	max-width: 150px;
	width: 100%;
	height: auto;
}

html[data-theme="light"] .site-header .agency-list .agency a img,
html.print .site-header .agency-list .agency a img {
	filter: invert();
}

/* Responsive header */
@media ( max-width: 550px ) {
	.site-header {
		margin: var(--spacing--xx-large ) 0 var(--spacing--x-large );
	}

	.site-header .image {
	}

	.site-header .details {
		justify-content: center;
		text-align: center;
	}

	.site-header .link-list,
	.site-header .agency-list {
		text-align: center;
		align-items: center;
	}

	.site-header .agency-list {
		flex-direction: column;
	}

}

@media ( max-width: 768px ) and ( min-width: 550.1px ) {
	.site-header {
		grid-template-columns: 1fr 2fr 45px;
		gap: var( --spacing--medium ) var( --spacing--large );
	}

	.site-header .image {
		grid-column: 1;
	}

	.site-header .details {
		grid-column: 2;
	}
}

@media ( min-width: 768.1px ) {
	.site-header {
		grid-template-columns: 1fr 4fr;
		gap: var( --spacing--medium ) var( --spacing--large );
	}

	.site-header .image {
		display: grid;
		align-content: center;
		grid-column: 1 / 2;
	}

	.site-header .details {
		display: grid;
		align-content: center;
		grid-column: 2 / 3;
	}

	.site-header .links {
		flex-direction: row;
	}
}

@media ( max-width: 550px ) and ( min-width: 450px ) {
	.site-header {
		grid-template-columns: 1fr;
		gap: var( --spacing--large );
	}

	.site-header .image {
	}

	.site-header .details {
	}

}

/* Menu */
html:not(.nav-menu-open) .show-if-menu-open { display: none; }
html.nav-menu-open .show-if-menu-closed { display: none; }

ul.nav-menu,
ul.nav-menu li {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.nav-menu li a {
	display: block;
	padding: 10px;
	white-space: nowrap;
}

nav.main-nav {
	position: sticky;
	z-index: 10;
	top: 0;
}

@media ( min-width: 980.1px ) {
	a.nav-menu-toggle {
		display: none;
	}

	nav.main-nav {
	}

	ul.nav-menu {
		display: flex;
		justify-content: space-around;
	}

	ul.nav-menu li:has(a[href="#skills"]) {
		display: none;
	}
}

@media ( max-width: 980px ) {
	.nav-menu:not(.open) {
		display: none;
	}

	.nav-menu-toggle {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 21;

		display: block;
		text-align: center;
		padding: 10px;
		font-size: 24px;
		min-width: 45px;
		text-decoration: none;

		margin: var(--spacing--medium) var(--spacing--medium) 0 0;

		background: var(--surface-1);
		border-radius: var(--radius-2);
		border: 1px solid var(--button-border-color);
	}

	ul.nav-menu {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 20;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/* Site body */
.site-body {
	display: grid;
	align-items: start;
	gap: var( --spacing--x-large );
}

.site-body .area {
	display: grid;
	grid-template-columns: 1fr;
	gap: var( --spacing--large );
}

@media ( min-width: 640.1px ) {
	.site-body {
		grid-template-columns: 2fr 1fr;
	}

	.site-body .wide-area {
		grid-column: 1 / 3;
	}

	.site-body .wide-area p {
		max-inline-size: none;
	}
}

.section-heading {
	margin-bottom: var( --spacing--medium );
}

.section-heading h2 {
	padding-bottom: 0.25em;
	border-bottom: 2px solid var(--color-primary);
}

.content > *:not(:first-child) {
	margin-top: var( --spacing--small );
}

.content > :not(:first-child):where(h1, h2, h3, h4, h5, h6) {
	margin-top: var( --spacing--medium );
}

.content li:not(:first-child) {
	margin-top: var( --spacing--x-small );
}

/* Body - Job list */
.job-list {
	display: grid;
	margin: 0;
	padding: 0;
	list-style: none;
	gap: var( --spacing--large );
}

.job-list li.job {
	margin: 0;
	padding: 0;
}

.job-list li.job {
	display: grid;
	grid-template-columns: 1fr auto;
	width: 100%;
	max-inline-size: none;
	gap: var( --spacing--medium ) var( --spacing--small );
}

.job-list li.job .heading {
	grid-column: 1 / 2;
	grid-row:  1;
}

.job-list li.job .date {
	grid-column: 2 / 3;
	grid-row: 1;
	text-align: right;
	display: grid;
	align-items: center;
}

.job-list li.job .content {
	grid-column: 1 / 3;
	grid-row: 2;
}

.job-list li.job .content li {
	max-inline-size: none;
}

/* Body - Testimonials list */
.testimonial-list {
	display: grid;
	margin: 0;
	padding: 0;
	list-style: none;
	gap: var( --spacing--x-large );
	grid-template-columns: 1fr;
}

.testimonial-list li {
	margin: 0;
	padding: 0;
}

@media ( min-width: 640.1px ) {
	.testimonial-list {
		gap: var( --spacing--large );
		grid-template-columns: 1fr 1fr;
	}
}

li.testimonial {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: var( --spacing--medium ) var( --spacing--medium );
	align-content: start;
}

li.testimonial .image {
	grid-row: 1;
	grid-column: 1 / 2;
}

li.testimonial .heading {
	grid-row: 1;
	grid-column: 2 / 3;
}

li.testimonial .content {
	grid-row: 2;
	grid-column: 1 / 3;
}

@media ( max-width: 640px ) {
	.testimonial-list {
		gap: var( --spacing--xx-large );
	}

	li.testimonial {
		grid-template-columns: 1fr 4fr;
	}
}

li.testimonial .heading {
	display: grid;
	grid-template-columns: 1fr;
	align-content: center;
}

/* Github - Profile */
.github-profile {
	display: grid;
	grid-template-columns: 1fr;
	gap: var( --spacing--large );
	margin: 0 0 var( --spacing--large );

	background: var(--surface-2);
	border-radius: var(--radius-3);
	padding: var(--spacing--medium);
}

.github-profile .image {
	position: relative;
	filter: drop-shadow( 5px 5px var(--color-primary));
}

.github-profile .image img {
	border-radius: var( --radius-blob-4 );
}

.github-profile .image .icon {
	position: absolute;
	background: var(--surface-2);
	width: 25%;
	height: 25%;
	display: grid;
	place-content: center;
	border-radius: var(--radius-4);
	font-size: 30px;
	bottom: 7%;
	right: 7%;
}

.github-profile .image .icon a {
	color: var( --text-1 );
}

.github-profile .details {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--spacing--medium);
}

.github-profile .details .profile-name {
	font-weight: 700;
}

.github-profile .details .profile-name small {
	display: block;
	line-height: 1.25;
}

.github-profile .details .bio {}

.github-profile .github-button {
	margin-top: var(--spacing--medium);
}

@media ( min-width: 640.1px ) {
	.github-profile {
		grid-template-columns: 1fr 4fr;
	}
}
/* End: Github - Profile */

/* Github - Repository List */
ul.github-list {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--spacing--large);
	padding: 0;
	margin: 0;
	list-style: none;
	align-items: flex-start;
}

ul.github-list li {
	margin: 0;
	list-style: none;
}

.github-item .date {
	margin: var(--spacing--small) 0;
}

.github-item .content {
	margin: var(--spacing--small) 0 var(--spacing--medium);
}

ul.github-list li.github-item {
	max-inline-size: none;
}

@media ( min-width: 640.1px ) {
	ul.github-list {
		grid-template-columns: 1fr 1fr;
	}

	ul.github-list li.github-item > * {
		position: relative;
		z-index: 2;
	}
}
/* End: Github - Repository List */

/* Stats List */
ul.stats {
	padding-left: 0;
	margin-left: 0;
	list-style: none;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--spacing--medium);
}

ul.stats.stats-minor {
	font-size: var(--font-size-0);
}

ul.stats li {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

ul.stats li a,
ul.stats li .btn {
	white-space: nowrap;
}
/* End: Stats List */

/* Projects */
ul.project-list,
ul.project-list li {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.project-list {
	display: grid;
	gap: var( --spacing--x-large ) var( --spacing--large );
	align-items: flex-start;
}

ul.project-list li {
	display: grid;
	gap: var( --spacing--medium );
}

ul.project-list .image img {
	width: 100%;
	height: auto;
}

@media ( min-width: 640.1px ) {
	ul.project-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media ( min-width: 320.1px ) {
	ul.project-list .image {
		margin: calc(-1.1 * var(--spacing--medium)) calc(-1 * var(--spacing--medium)) 0;
	}

	ul.project-list .heading {
		/*grid-column: 1 / 3;*/
		align-content: center;
		display: grid;
	}

	ul.project-list .content {
		/*grid-column: 1 / 3;*/
	}

	.project-list .heading {
	}
}

/* Projects with Isotope filtering loaded */
ul.project-list.isotope-active {
	position: relative;
	display: block;
}

ul.project-list.isotope-active .project {
	margin: 0 0 40px;
	width: 100%;
}

@media ( min-width: 640.1px ) {
	ul.project-list.isotope-active {
		margin-left: calc( -1 * 1.25vw );
		margin-right: calc( -1 * 1.25vw );
	}

	ul.project-list.isotope-active .project {
		position: relative;
		width: calc( 50% - 2.5vw );
		margin: 0 1.25vw 40px;
	}
}

/* Print view */
html.print .project-list.isotope-active {
	height: auto !important;
	display: grid !important;
	gap: 0;
	grid-template-columns: 1fr 1fr;
}

html.print .project-list.isotope-active .project {
	position: static !important;
	width: auto;
}
/* End: Projects */

/* Section heading - tools drawer */
.section-heading .section-tools {
	padding: 10px;
	margin-bottom: var(--spacing--medium);
	background: var(--surface-2);
	border-radius: 0 0 5px 5px;
	border-top: 2px solid var(--red-7);
}
/* End: Section heading - tools drawer */

/* Project Filter strip */
.section.projects-section .section-heading {
	padding-bottom: 0;
	border-bottom: 0;
}

.project-filters .filter-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.project-filters a {
	white-space: nowrap;
}

@media ( max-width: 1024px ) {
	.project-filters .filter-list {
	}

	.project-filters .filter-list a.filter {
		margin-right: 10px;
	}
}

@media ( min-width: 1024.1px ) {
	.project-filters .filter-list {
		flex-direction: row;
		justify-content: space-evenly;
	}
}
/* End: Project Filter strip */

/* Floating section headers on large screens */
@media ( min-width: 1500px ) and ( min-height: 600px ) {
	.section-heading.heading {
		position: sticky;
		top: -1px;
		z-index: 10;
		background: var(--surface-1);
	}

	.section {
		position: relative;
	}
}
/* End: Floating section headers on large screens */

/* Footer */
section#contact {
	min-height: calc(100vh - 60px);
}
/* End: Footer */