/*
Global variables
*/
:where(html) {
	--font-family--base: Helvetica, Arial, sans-serif;
	--letter-spacing--base: 0;
	--line-height--base: 1.5em;

	--font-size--x-small: 14px;
	--font-size--small: 16px;
	--font-size--medium: clamp( 18px, 2vw, 20px );
	--font-size--large: clamp( 20px, 2.4vw, 24px );
	--font-size--x-large: clamp( 24px, 2.8vw, 28px );
	--font-size--xx-large: clamp( 28px, 3.2vw, 32px );
	--font-size--xxx-large: clamp( 32px, 3.6vw, 36px );

	--spacing--x-small: 5px;
	--spacing--small: 10px;
	--spacing--medium: clamp(20px, 2.5vw, 25px);
	--spacing--large: clamp(30px, 5vw, 50px);
	--spacing--x-large: clamp(40px, 8vw, 80px);
	--spacing--xx-large: clamp(60px, 12vw, 120px);
	--spacing--xxx-large: clamp(80px, 15vw, 150px);
	--spacing--xxxx-large: clamp(100px, 20vw, 200px);

	--gradient-flare: radial-gradient(circle at bottom center, var(--color-primary), transparent);

	--_ink-shadow-light: 0 1px 0 var(--gray-3);
	--_ink-shadow-dark: 0 1px 0 var(--surface-1);

	--site-width: 1200px;
}

@media ( max-width: 1600px ) {
	:where(html) {
		--site-width: 1000px;
	}
}

html[reference="only"] {
	--gray--reference: #adb5bd;
	--stone--reference: #b1b6b9;
	--red--reference: #ff6b6b;
	--pink--reference: #f06595;
	--purple--reference: #cc5de8;
	--violet--reference: #845ef7;
	--indigo--reference: #5c7cfa;
	--blue--reference: #339af0;
	--cyan--reference: #22b8cf;
	--teal--reference: #20c997;
	--green--reference: #51cf66;
	--lime--reference: #94d82d;
	--yellow--reference: #fcc419;
	--orange--reference: #ff922b;
	--choco--reference: #df8545;
	--brown--reference: #b78f6d;
	--sand--reference: #9a9178;
	--camo--reference: #a7a827;
	--jungle--reference: #a8c648;
}

/* Light mode */
html {
	color-scheme: light;

	--fa-primary-color: var(--red-7);
	--fa-primary-opacity: 1;

	--color-primary: var(--red-7);

	--color-brand: var(--color-primary);
	--github-gradient: var( --gradient-13 );

	--link: var(--gray-8);
	--link-hover: var(--red-5);
	--link-visited: var(--color-primary);

	--text-1: var(--brown-12);
	--text-2: var(--gray-7);

	--surface-0: var(--gray-0);
	--surface-1: var(--gray-1);
	--surface-2: var(--gray-2);
	--surface-3: var(--gray-3);
	--surface-4: var(--gray-4);
	--surface-5: var(--gray-5);
	--surface-6: var(--gray-6);

	--heading-1--color: var(--gray-8);
	--heading-2--color: var(--gray-8);
	--heading-3--color: var(--gray-8);
	--heading-4--color: var(--gray-8);
	--heading-5--color: var(--gray-8);
	--heading-6--color: var(--gray-8);

	--heading-thin--color: var(--red-6);

	--scrollthumb-color: var(--gray-7);

	--_ink-shadow: var(--_ink-shadow-light);

	--header-shadow--color: currentColor;

	/* Used for buttons, mostly */
	--_bg-light: var(--surface-0);
	--_bg-dark: var(--surface-3);
	--_bg: var(--_bg-light);

	/* Button - primary */
	--button-border-color: var(--red-7);
	--button-background-color: var(--red-7);
	--button-text-color: var(--red-0);
	--button-text-shadow-color: var(--gray-12);

	--button-hover-border-color: var(--red-8);
	--button-hover-background-color: var(--red-6);

	/* Button - secondary */
	--button-secondary-border-color: var(--gray-4);
	--button-secondary-background-color: var(--gray-4);
	--button-secondary-text-color: var(--text-1);
	--button-secondary-text-shadow-color: var(--surface-2);

	--button-secondary-hover-border-color: var(--gray-4);
	--button-secondary-hover-background-color: var(--gray-3);

	/* Button - disabled */
	--button-disabled-border-color: var(--gray-7);
	--button-disabled-background-color: var(--gray-7);
	--button-disabled-text-color: var(--gray-4);
	--button-disabled-text-shadow-color: var(--gray-9);

	/* Message popup (toasts) */

}

html[data-theme="light"] .show-if-dark { display: none; }

/* Dark mode */
html[data-theme="dark"] {
	color-scheme: dark;

	--fa-primary-color: var(--red-6);
	--fa-primary-opacity: 1;

	--color-primary: var(--red-7);

	--text-1: var(--gray-1);
	--text-2: var(--gray-4);

	--surface-0: var(--gray-10);
	--surface-1: var(--gray-9); /* background */
	--surface-2: var(--gray-8);
	--surface-3: var(--gray-7);
	--surface-4: var(--gray-6);
	--surface-5: var(--gray-5);
	--surface-6: var(--gray-4);

	--heading-1--color: var(--gray-0);
	--heading-2--color: var(--gray-0);
	--heading-3--color: var(--gray-0);
	--heading-4--color: var(--gray-0);
	--heading-5--color: var(--gray-0);
	--heading-6--color: var(--gray-0);

	--heading-thin--color: var(--red-7);

	--link: var(--text-1);
	--link-hover: var(--color-primary);
	--link-visited: var(--color-primary);

	--scrollthumb-color: var(--gray-6);
	--shadow-strength: 10%;
	--shadow-color: 220 40% 2%;

	--_ink-shadow: var(--_ink-shadow-dark);

	--header-shadow--color: var(--red-6);

	/* Used for buttons, mostly */
	--_bg-light: var(--surface-3);
	--_bg-dark: var(--surface-0);
	--_bg: var(--_bg-light);

	/* Button - primary */
	--button-border-color: var(--red-7);
	--button-background-color: var(--red-7);
	--button-text-color: var(--gray-1);
	--button-text-shadow-color: var(--gray-12);

	--button-hover-border-color: var(--red-8);
	--button-hover-background-color: var(--red-6);

	/* Button - secondary */
	--button-secondary-border-color: var(--gray-7);
	--button-secondary-background-color: var(--gray-7);
	--button-secondary-text-color: var(--text-1);
	--button-secondary-text-shadow-color: var(--gray-12);

	--button-secondary-hover-border-color: var(--gray-8);
	--button-secondary-hover-background-color: var(--gray-6);
}

html[data-theme="dark"] .show-if-light { display: none; }

:where(.btn,button,input:is([type=button],[type=submit],[type=reset])),
:where(input[type=file]),::-webkit-file-upload-button,
:where(input[type=file]),::file-selector-button {
	border-color: var(--button-border-color, var(--color-primary));
	background: var(--button-background-color, var(--_bg));
	color: var(--button-text-color, initial);
	text-shadow: 0 1px 0 var(--button-text-shadow-color, var(--_ink-shadow));
}

:where(.btn,button,input:is([type=button],[type=submit],[type=reset])):where(:hover,:focus-visible),
:where(input[type=file]):where(:hover,:focus-visible),::-webkit-file-upload-button,
:where(input[type=file]):where(:hover,:focus-visible),::file-selector-button {
	border-color: var(--button-hover-border-color, var(--_bg));
	background: var(--button-hover-background-color, var(--_bg));
}

/* Secondary button styles */
:where(.btn.btn-secondary,button,input:is([type=button],[type=submit],[type=reset])) {
	--button-border-color: var(--button-secondary-border-color);
	--button-background-color: var(--button-secondary-background-color);
	--button-text-color: var(--button-secondary-text-color);
	--button-text-shadow-color: var(--button-secondary-text-shadow-color);

	--button-hover-border-color: var(--button-secondary-hover-border-color);
	--button-hover-background-color: var(--button-secondary-hover-background-color);
}


/* Disabled button styles */
:where(.btn.btn-disabled,button,input:is([type=button],[type=submit],[type=reset])),
:where(.btn.btn-disabled,button,input:is([type=button],[type=submit],[type=reset])):where(:hover,:focus-visible) {
	border-color: var(--button-disabled-border-color);
	background: var(--button-disabled-background-color);
	color: var(--button-disabled-text-color);
	text-shadow: 0 1px 0 var(--button-disabled-text-shadow-color, var(--_ink-shadow));
	cursor: default;
}

/* Print selectors */
html:where(.print)       .show-if-screen { display: none; }
html:where(:not(.print)) .show-if-print { display: none; }


/* Embossed headers */
@media screen {
	:where(h1, h2, h3, h4, h5, h6) {
		text-shadow:
			0 0.3vh var(--surface-1),
			0 -0.3vh var(--surface-1),
			0 0.4vh var(--header-shadow--color);
	}
}


/* Selection background color */
::selection {
	background: var(--color-primary);
	color: var(--text-1);
	text-shadow: none !important;
}




/* Open Props Overrides */
:where(h1,h2,h3,h4,h5,h6,dt,ul,ol,li) {
	max-inline-size: none;
}

a {
	text-decoration-color: inherit;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	text-decoration-skip-ink: none;
	transition: all 0.07s linear;
}

a:not(.btn) {
	color: var(--link);
}

a:where(:not(.btn):hover:not(:focus-visible)) {
	color: var(--link-hover);
}

a:where(:hover, :focus-visible) {
	text-underline-offset: 5px;
}

a.btn {
	text-decoration: none;
}

a.btn.disabled,
a.btn:disabled {
	box-shadow: none !important;
	outline: none !important;
}
/* End: Open Props Overrides */

/* Font Awesome 5 Overrides */
:where(html) {
	--fa-primary-color: var( --color-primary );
	--fa-primary-opacity: 1;
}

.fa-stack.fa-1x {
	width: 1em;
	height: var( --line-height--base );
	line-height: var( --line-height--base );
}
/* End: Font Awesome 5 Overrides */

/* Gradient animated headings */
.heading .h {
	overflow: clip;
	max-inline-size: none;
	color: var(--color-primary);
}

.heading h1.h {
	max-inline-size: var(--size-header-1);
}

.heading h2.h {
	max-inline-size: var(--size-header-2);
}

/* End: Gradient animated headings */

/* Menu */
.main-nav {
	background:
		var(--gradient-flare),
		linear-gradient( 0, var(--surface-1), var(--surface-1));
	background-size: 100% 4%, auto;
	background-repeat: no-repeat;
	background-position: bottom center, top;
}

ul.nav-menu li.active a {
	font-weight: 900;
	text-decoration: none;
}


@media ( min-width: 1400.1px ) {
	nav.main-nav {
		position: fixed;
		right: calc(50% +  (var(--site-width) / 2));
		top: 0;
		bottom: 0;
		padding: var(--spacing--x-large) var(--spacing--small);
		text-align: right;
		background: none;

		display: flex;
		flex-direction: column;
		justify-content: center;

		max-height: 100vh;
		overflow: auto;
	}

	ul.nav-menu {
		flex-direction: column;
	}

	ul.nav-menu li.first-control-button {
		margin-top: var(--spacing--medium);
	}

	nav.main-nav .scroll-indicator {
		display: none;
	}
}

@media ( min-width: 980.1px ) {
	.show-if-mobile { display: none; }

	ul.nav-menu {
		text-transform: uppercase;
		font-size: var(--font-size--small);
		font-weight: 400;
		line-height: 1.5;
		padding: 10px 0;
		max-width: var(--site-width);
		margin: 0 auto;
	}

	nav.main-nav .scroll-indicator {
		position: absolute;
		width: 20px;
		transform: translateX(-50%);

		/*
		background-image:
			radial-gradient(circle, var(--color-primary) 50%, transparent 50%),
			radial-gradient(circle, var(--color-primary) 50%, transparent 50%),
			radial-gradient(circle, var(--color-primary) 50%, transparent 50%);
		background-size: 5px 5px;
		background-position: left, center, right;
		background-repeat: no-repeat;
		*/

		transition: all 0.1s ease-out;

		background: var(--text-1);
		bottom: 0;
		height: 3px;
	}

	ul.nav-menu li a:where(:hover,:focus-visible) {
		text-decoration: none;
	}

	ul.nav-menu li:not(.active) a:where(:hover,:focus-visible) {
		/*color: var(--color-primary);*/
		font-weight: 700;
	}
}

@media ( max-width: 980px ) {
	.show-if-desktop { display: none; }

	.nav-menu-toggle {
	}

	ul.nav-menu {
		background: var( --surface-0 );
		margin-top: var(--spacing--medium);
		margin-right: calc(50px + var(--spacing--medium));
		padding: var(--spacing--medium);
		padding-bottom: 10px;
	}

	ul.nav-menu li.first-control-button {
		margin-top: var(--spacing--medium);
	}

	html.nav-menu-open nav.main-nav {
	}

	.nav-menu-toggle,
	.nav-menu-toggle:where(:focus,:hover,:active) {
		color: var(--text-1);
	}

	html.nav-menu-open a[href].nav-menu-toggle,
	html.nav-menu-open a[href].nav-menu-toggle:where(:focus,:hover,:active) {
		color: var(--text-1);
	}
}

@media ( max-width: 1200px ) and ( min-width: 980.1px ) {
	nav.main-nav ul.nav-menu {
		font-size: var(--font-size--x-small);
	}
}

/*
Global
*/
html {
	font-family: var( --font-family--base );
	letter-spacing: var( --letter-spacing--base );
	line-height: var( --line-height--base );
}

h1, h2, h3, h4, h5, h6,
button, input, label {
	line-height: var( --line-height--base );
}

h1, .h1 { font-size: clamp( 2rem, 4vw, 3rem ); color: var(--heading-1--color); }
h2, .h2 { font-size: clamp( 1.5rem, 3vw, 2.5rem ); color: var(--heading-2--color); }
h3, .h3 { font-size: clamp( 1rem, 1.75vw, 1.25rem ); color: var(--heading-3--color); }
h4, .h4 { font-size: clamp( 0.8rem, 1.5vw, 1rem ); color: var(--heading-4--color); }
h5, .h5 { font-size: clamp( 0.7rem, 1.25vw, 0.875rem ); color: var(--heading-5--color); }
h6, .h6 { font-size: clamp( 0.6rem, 1vw, 0.75rem ); color: var(--heading-6--color); }

.h2b { font-size: clamp( 1.25rem, 2.25vw, 1.75rem ); color: var(--heading-2--color); }

.h-thin, .ht { font-weight: 200; color: var(--heading-thin--color); text-shadow: none; }
.h-light, .hl { font-weight: 300; color: var(--heading-thin--color); text-shadow: none; }
.h-regular, .hr { font-weight: 400; color: var(--heading-thin--color); text-shadow: none; }

/* Thicker header weight on light mode */
html[data-theme="light"] {
	.h-thin, .ht { font-weight: 400; }
	.h-light, .hl { font-weight: 400; }
	.h-regular, .hr { font-weight: 500; }
}

.btn.btn-text {
	background: none;
	box-shadow: none;
	text-shadow: none;
	border: none;
	border-radius: 0;
	color: var(--text-1);
	padding-inline: var(--size-relative-3);
}

span.btn.btn-text {
	border-bottom-color: transparent !important;
}

.btn.btn-text:where(:not(:focus,:hover,:active)) {
	--fa-primary-color: var(--text-1);
	--fa-secondary-color: var(--text-2);
	--fa-secondary-opacity: 0.5;
	outline: none;
	border-bottom: 2px solid transparent;
}

.btn.btn-text:where(:focus,:hover,:active) {
	--fa-primary-color: var(--surface-0);
	--fa-secondary-color: var(--surface-0);
	--fa-secondary-opacity: 1;
	border-bottom: 2px solid currentColor;
}

.btn-text.btn-narrow {
	padding-inline: 0;
}

span.btn-text {
	/* Same formatting as a button but without any hover/focus effects or background/borders */
	--_size: initial;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	align-items: center;
	color: var(--text-1);
	display: inline-flex;
	font-size: var(--_size);
	font-weight: var(--font-weight-7);
	gap: var(--size-2);
	justify-content: center;
	padding-block: 0.75ch;
	padding-inline: var(--size-relative-6);
	text-align: center;
	text-shadow: var(--_ink-shadow);
	user-select: none;

	--fa-primary-color: var(--text-1);
	--fa-secondary-color: var(--text-2);
	--fa-secondary-opacity: 0.5;
}

/* Buttons with icons */
.btn:where(:hover, :focus-visible) .fad{
	--fa-primary-color: var(--button-text-color);
	--fa-secondary-color: var(--surface-5);
}
/* End: Buttons with icons */

/*
Header
*/



/*
Body
*/


/*
General
*/
.content a:not(.btn) {
	text-decoration: underline;
}

.tooltip-underline,
.content a.tooltip-underline {
	color: var( --text-2 );
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 1px;
	text-underline-offset: 3px;
	text-decoration-skip-ink: auto;
}


/* Header */
@media ( min-width: 1200.1px ) {
	.site-header {
		grid-template-columns: 2fr 4fr;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Header - Title */
.site-header .title h1 {
	line-height: 1.15;
}

.site-header .title h2 {
	line-height: 1.15;
	margin-top: -0.1em;
	font-size: var(--font-size--xx-large);
}

.ht {
	font-weight: 300;
	color: var(--surface-3);
}

/* Header - Image */
.site-header .image {
	filter: drop-shadow(5px 7px var(--color-primary));
}

.site-header .image img {
	border-radius: var(--radius-blob-4);
}

/* Header link list */
.link-list a > .icon {
	margin-right: var(--spacing--small);
}

/* Job list */
.job-list li.job .date {
	color: var(--text-2);
}

.job-list li.job .content ul {
	list-style-type: disc;
	padding-inline-start: var(--size-6);
}

/* Testimonials */
li.testimonial .image {
	filter: drop-shadow(3px 5px var(--color-primary));
}

li.testimonial .image img {
	overflow: hidden;
}

li.testimonial:nth-child(4n + 1) .image img {
	border-radius: var(--radius-blob-1);
}
li.testimonial:nth-child(4n + 2) .image img {
	border-radius: var(--radius-blob-2);
}
li.testimonial:nth-child(4n + 3) .image img {
	border-radius: var(--radius-blob-3);
}
li.testimonial:nth-child(4n + 4) .image img {
	border-radius: var(--radius-blob-4);
}

/* Github repos list */
ul.github-list li.github-item {
	position: relative;
}

ul.github-list li.github-item .number {
	display: none;
}

ul.github-list li.github-item {
}

@media ( max-width: 640px ) {
	ul.github-list  {
		padding: var(--spacing--large) 0;
		gap: var(--spacing--xx-large);
	}

	ul.github-list li.github-item {
	}
}

ul.list-cards > li {
	overflow: hidden;
	border: 1px solid var(--color-primary);
	border-radius: var(--radius-3);
	padding: var(--spacing--medium);
	background: var(--surface-0);
}

@media screen {
	ul.list-cards > li {
	}
}
/* End: Github repos list */

/* Projects */
ul.list-cards .image::after {
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 4px;
	background: var(--gradient-flare);
	z-index: 2;
}

ul.list-cards .image {
	position: relative;
}

.list-cards .credits {
	color: var(--red-5);
}

.list-cards .credits p {
	font-size: var(--font-size--small);
}

.list-cards .credits a:not(:hover, :focus-visible) {
	color: var(--red-5);
}
/* End: Projects */

/*
Tooltip toasts
These appear on click and dismiss automatically. See main.js -> setup_click_message_popup()

Timeline:
0.00s - popup appended (hidden)
0.15s - "reveal" class added (fade in)
5.00s - "reveal" class removed, "fade-out" class added (fade out)
5.50s - popup removed
*/
.popup-container {
	position: fixed;
	bottom: clamp(10px, 8vh, 80px);
	left: 50%;
	transform: translateX(-50%);
	max-width: 50%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	z-index: 20;
}

.popup-container .popup {
	padding: 10px 20px;
	background: rgba(255,255,255,0.05);

	background: var(--surface-2);
	border: 1px solid var(--surface-4);
	border-radius: 100px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

.popup-container .popup {
	opacity: 0;
	transition: opacity 150ms linear;
}

.popup-container .popup.reveal {
	opacity: 1;
}

.popup-container .popup.fade-out {
	opacity: 0;
	transition: opacity 500ms linear;
}
/* End: Tooltip toasts */

/* Project filter links */
.filter-group span.filter-label,
.filter-group a {
	display: inline-block;
	font-weight: 400;
	padding: 5px 0;
	text-decoration: none;
}

.filter-group a.filter.active {
	font-weight: 700;
	border-bottom-color: currentColor;
}
/* End Project filter links */

/* Agency List */
.agencies-section > .content {
	margin-bottom: 60px;
}

.agency-items {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.agency-items .agency-item {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.agency-items .agency-item .logo {
	max-width: 250px;
}

@media ( min-width: 700px ) {
	.agency-items .agency-item {
		display: grid;
		grid-template-columns: 1fr 3fr;
		gap: 50px;
	}

	.agency-items .agency-item .logo {
		padding: 10px;
	}
}
/* End Agency List */

/* Agency list (header) */

.site-header .agency-list .agency img {
	max-width: 150px;
	max-height: 50px;
	width: 100%;
	height: auto;
}

.site-header .agency-list .agency a {
	background: var(--surface-2);
	border-radius: 20px;
	text-decoration: none;
	line-height: 1.2;
}

.site-header .agency-list .agency a:where(:hover, :focus-visible) {
	background: var(--surface-3);
}

.site-header .agency-list .agency a .agency-title {
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}
/* End Agency list (header) */